<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <title>Connexion à l'application</title>

    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico"/>

    <!-- Web Fonts -->
    <link rel="shortcut" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin"/>
    
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet"  th:href="@{/plugins/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet"  th:href="@{/css/style.css}"/>

    <!-- CSS Header and Footer -->
    <link rel="stylesheet"  th:href="@{/css/headers/header-default.css}"/>
    <link rel="stylesheet"  th:href="@{/css/footers/footer-v1.css}"/>

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet"  th:href="@{/plugins/animate.css}"/>
    <link rel="stylesheet"  th:href="@{/plugins/line-icons/line-icons.css}"/>
    <link rel="stylesheet"  th:href="@{/plugins/font-awesome/css/font-awesome.css}"/>
    
    <!-- CSS Page Style -->
    <link rel="stylesheet"  th:href="@{/css/pages/page_log_reg_v2.css}"/>
    <link rel="stylesheet"  th:href="@{/css/pages/page_misc_sticky_footer.css}"/>

    <!-- CSS Customization -->
    <link rel="stylesheet"  th:href="@{/css/custom.css}"/>
</head>

<body>
	<div class="container">
		<div class="reg-block">
			<form class="form-horizontal" role="form" th:action="@{/login}" method="post">
				<div class="reg-block-header">
					<h2>Connexion à ARUM</h2>
					<p>
						Vous n'avez pas de compte ?<br />Cliquez-ici pour accéder à AFGH
					</p>
					<p th:if="${param.logout}" class="alert">Vous avez été déconnecté</p>
					<p th:if="${param.error}" class="alert alert-error">Identifiant/Mot de passe incorrect, please try again</p>
				</div>
				<div class="input-group margin-bottom-20">
					<span class="input-group-addon"><i class="fa fa-user"></i></span> 
					<input type="text" name="username" class="form-control" placeholder="Identifiant intranet" />
				</div>
				<div class="input-group margin-bottom-20">
					<span class="input-group-addon"><i class="fa fa-lock"></i></span> 
					<input type="password" name="password" class="form-control" placeholder="Mot de passe" />
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<input type="submit" class="btn-u btn-block" value="Connexion"/>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="wrapper">
	<div th:replace="fragments/header :: footer"></div>
</div>

<!-- JS Global Compulsory -->           
<script type="text/javascript" th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery/jquery-migrate.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script> 
<!-- JS Implementing Plugins -->           
<script type="text/javascript" th:src="@{/plugins/back-to-top.js}"></script>
<script type="text/javascript" th:src="@{/plugins/backstretch/jquery.backstretch.min.js}"></script>
<!-- JS Customization -->
<script type="text/javascript" th:src="@{/js/custom.js}"></script>
<!-- JS Page Level -->           
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        });
</script>
<script type="text/javascript">
    $.backstretch([
      "/images/login-background-1.jpg",
      "/images/login-background-2.jpg",
      "/images/login-background-3.jpg",
      ], {
        fade: 1000,
        duration: 7000
    });
</script>
<!--[if lt IE 9]>
    <script th:src="@{/plugins/respond.js}"></script>
    <script th:src="@{/plugins/html5shiv.js}"></script>
    <script th:src="@{/plugins/placeholder-IE-fixes.js}"></script>
<![endif]-->

</body>
</html>
